################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/NameSorter/NameSorter/bin/Debug/netcoreapp3.1
/NameSorter/.vs/NameSorter/v16
/NameSorter/NameSorter/obj
